body{
	background-color: #FFEBCD;
}

div {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

h1{
	text-align: center;
	text-decoration: underline;
}
li{
	margin: 20px 0;
	margin-right: 30px ;
}
.col1 {
    float:left; 
    margin-left: 25px;
    width:40%;
    height:490px;
    background-color: #E8F6F7;
}

.col2 {
    float:left; 
    width:40%; 
    height:490px;
    background-color: #f2dede;
}