* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

button {
  color: #f0f8ff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 12px;
  transition: all 0.5s ease;
}
/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */
/*----- BANNER -----*/
.header {
  display: flex;
  height: 8vh;
  align-items: center;
  text-align: center;
  background-color: #dbdbdb;
}

.logo {
  height: 8vh;
  margin-left: 5%;
}

.hero-text {
  margin-left: 25%;
}

.landing-page {
  display: flex;
  height: 92vh;
}

#map {
  width: 66.67%;
  height: 92vh;
}

/*----- FORM -----*/
.form {
  width: 33.3%;
  padding: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffe4e1;
}

.form form {
  padding: 30px 0;
}

.form label {
  font-size: 80%;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 15px;
  height: 40px;
  font-size: 70%;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  transition: all 0.3s ease;
}

.input-field {
  margin: 10px 0;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 80%;
  transition: all 0.3s ease;
}

*:focus {
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #ff4b37;
}

.location-input {
  display: flex;
}

.location-input input {
  width: 50%;
}

.location-input span {
  margin: 0 20px;
}

.btn {
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
  font-size: 70%;
  border: 2px solid black;
}

.btn:hover {
  background-color: #ff4b37;
  color: #fff;
}

/*----- BUTTON SCALE -----*/
.btn-scale {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
  transform: all 0.5s ease;
}

.btn-1 {
  background-color: #37f;
}

.btn-2 {
  background-color: #9f0;
}

.btn-3 {
  background-color: #ff0;
}

.btn-4 {
  background-color: #f90;
}

.btn-5 {
  background-color: #f30;
}

.btn-1:hover {
  background-color: rgb(43, 214, 0);
}

.btn-2:hover {
  background-color: rgb(118, 197, 0);
}

.btn-3:hover {
  background-color: rgb(226, 226, 15);
}

.btn-4:hover {
  background-color: rgb(209, 126, 1);
}

.btn-5:hover {
  background-color: rgb(211, 44, 2);
}

/*----- SVG CHECK ANIMATION -----*/
#svg-check {
  display: none;
}

svg {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30%;
}

svg.animate path {
  animation: dash 0.75s linear both;
  animation-delay: 0.5s;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 210;
  }
  75% {
    stroke-dashoffset: -220;
  }
  100% {
    stroke-dashoffset: -205;
  }
}

/* --------------------------------------- */
/* TIPS PAGE */
/* --------------------------------------- */
.tips-page {
  display: flex;
  background-color: #ffebcd;
  margin: 60px 0;
  height: 75vh;
}

.avoid-coronavirus {
  background-color: #e8f6f7;
  padding: 60px 0;
}

.avoid-confrontations {
  background-color: #`;
  padding: 60px 0;
}

.avoid-coronavirus,
.avoid-confrontations {
  padding: 50px;
  margin-left: 0 10%;
}

.avoid-coronavirus h1,
.avoid-confrontations h1 {
  text-align: center;
  text-decoration: underline;
}

.avoid-coronavirus li,
.avoid-confrontations li {
  margin: 20px 0;
  width: 90%;
}
