* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #111;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */
#map {
  width: 100vw;
  height: 100vh;
}
